html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background: whitesmoke;
}

.touch-point, .touch-key {
  position: absolute;

  opacity: 0;
  -webkit-transition: opacity 0.25s;

  &.show {
    opacity: 1;
  }
}

.centered-circle (@radius) {
  border-radius: 100%;
  width: @radius * 2;
  height: @radius * 2;
  margin-left: -@radius;
  margin-top: -@radius;
}

.touch-point {
  .centered-circle(25px);

  background-color: rgba(50,50,50,0.1);
}

.touch-key {
  box-sizing: border-box;
  .centered-circle(100px);
  border: 10px solid red;

  .input & {
    .centered-circle(75px);
  }
}
