html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background: whitesmoke;
}

.touch-point, .touch-key {
  position: absolute;

  opacity: 0;
  -webkit-transition: opacity 0.25s;

  &.show {
    opacity: 1;
  }
}

.centered-circle (@radius) {
  border-radius: 100%;
  width: @radius * 2;
  height: @radius * 2;
  margin-left: -@radius;
  margin-top: -@radius;
}

.touch-point {
  .centered-circle(25px);
  z-index: 10;
  background-color: rgba(50,50,50,0.3);
}

.touch-key {
  box-sizing: border-box;
  .centered-circle(100px);
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
  border: 10px solid;
  color: #999;

  &[data-id] { color: transparent;}
  &[data-id="1"] { background-color: red; }
  &[data-id="2"] { background-color: green; }
  &[data-id="3"] { background-color: blue; }
  &[data-id="4"] { background-color: orange; }
  &[data-id="5"] { background-color: cyan; }

  .input & {
    .centered-circle(75px);
  }
}
